.date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  line-height: var(--lnh-small);
  border: 2px solid;
  border-color: var(--clr-baby-blue);
  min-height: 6.4rem;
  min-width: 6.4rem;
  border-radius: var(--rd-circle);
}