.main-nav__hamburger {
    display: none;
    position: relative;
}

.main-nav__hamburger::after {
    content: "Menu";
    color: white;
    position: absolute;
    left: 190%;
    top: 0;
    font-size: var(--fs-regular);
    cursor: default;
    pointer-events: none;
}

.main-nav__hamburger-bar {
    display: block;
    width: 25.43px;
    height: 2px;
    -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    background-color: #ffffff;
}

.main-nav__hamburger-bar:nth-child(2) {
    margin: 8px auto;
}

@media only screen and (max-width: 840px) {
    .main-nav__hamburger {
        display: inline-block !important;
        cursor: pointer;
        z-index: 3;
    }

    .main-nav__hamburger.active .main-nav__hamburger-bar:nth-child(2) {
        opacity: 0;
    }

    .main-nav__hamburger.active .main-nav__hamburger-bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .main-nav__hamburger.active .main-nav__hamburger-bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}