.App {
  &__grid-container {
    display: grid;
    column-gap: var(--spc-medium);
    grid-template-columns: minmax(1.6rem, 15.2rem) minmax(40rem, 2fr) minmax(27rem, 1fr) minmax(1.6rem, 15.2rem);
  }

  &__inner {
    grid-column: 2/3;
    margin-left: -4rem;
    height: 100%;
  }
}



