@import "src/assets/_breakpoints.scss";

.app {
  &__grid-container {
    display: grid;
    column-gap: var(--spc-medium);
    grid-template-columns: minmax(1.6rem, 15.2rem) minmax(40rem, 2fr) minmax(27rem, 1fr) minmax(1.6rem, 15.2rem);

    @include phone-only {
      column-gap: 0;
      grid-template-columns: minmax(0.5rem, 1.6rem) auto minmax(0.5rem, 1.6rem);
    }
  }

  &__inner {
    grid-column: 2/3;
    margin: 0 0 5.6rem -4rem;
    height: 100%;

    @include phone-only {
      margin-left: 0;
    }
  }
}



