.horizontal-list {
  font-size: var(--fs-small);
  color: var(--clr-grey);
  margin-top: var(--spc-small);

  &__item {
    display: inline;
    margin: 0;

    &:not(:first-of-type)::before {
      content: "•";
      padding: 0 1.3rem;
      color: var(--clr-grey);
    }

  }
}

