@import "src/assets/_breakpoints.scss";

.sidebar {
  display: block;
  margin-right: -4rem;

  @include media-query($breakpoint_tablet) {
    grid-column: 2/3;
    margin-right: 0;
    margin-top: var(--spc-regular);
    margin-bottom: 7.2rem;
  }
}