@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --f-primary: "Roboto", sans-serif;
  --f-secondary: "Roboto Slab", serif;
  /* font-weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  /* font-size */
  --fs-small: 1.6rem;
  --fs-regular: 1.8rem;
  --fs-big: 2.4rem;
  --fs-huge: 3.2rem;
  /* color */
  --clr-background: #e5e5e5;
  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-violet: #3b5bdb;
  --clr-violet-hover: #364fc7;

  --clr-green: #008000;
  --clr-red: #ff0000;
  --clr-baby-pink: #fcd3d4;
  --clr-baby-blue: #a0f4dc;
  --clr-grey: #696969;
  /* radius */
  --rd-searchbar: 0.4rem;
  --rd-circle: 6.4rem;
  /* spacing */
  --spc-xsmall: 1.6rem;
  --spc-small: 1.9rem;
  --spc-regular: 2.4rem;
  --spc-medium: 4rem;
  /* line-height */
  --lnh-small: 1.6rem;
  --lnh-regular: 2.4rem;
  /* transition */
  --transition-regular: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --transition-expotential: all 0.5s cubic-bezier(1, 0, 0, 1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--f-primary);
  background: var(--clr-background);
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}


